doctype html
html
	head
		title #{title} - Arabic alphabet
		link(rel="stylesheet", href="/css/styles.css")

	body
		#primary-container.clearfix
			#game-wrapper.clearfix
				#content-wrapper.clearfix
					block content
			#sidebar.clearfix
				block sidebar
			footer
				.container
					p Copyright &copy; 2014
