extend layout
block content
	.ribbon-wrapper.clearfix
		p
			| Login
	p.call-action-txt
		| Please login to start learning
	form#register(action='/register', method='post')
		div.input-field-wrapper
			label(for='email').form-label
				| Email
				input.input-field(type='text', placeholder='Your email', name='email', id='email')
		div.input-field-wrapper
			label(for='password').form-label
				| Password
				input.input-field(type='password', placeholder='Choose your password', name='password', id='password')

	.button-wrapper.clearfix
		button.facebook-btn.btn
			| Facebook Login
		button.register-btn.btn
			| Login
	.logged-in-wrapper.clearfix
		a.logged-in-link(href='/login')
			| Not a member yet?
			span
				| Register
				