extend layout
block content
	.ribbon-wrapper.clearfix
		p
			| Thank you
	p.call-action-txt
		| Thank you for registering
	div.input-field-wrapper
		.form-label
			| Fullname
			p.user-details #{username}
	div.input-field-wrapper
		.form-label
			| Email
			p.user-details #{useremail}
	
				
- each s in scripts
	script(src=s)