/*
 * Import Nib
 */
@import 'nib'

/*
 * Nib Reset File
 */
global-reset()

/*
 * Set Variables
 */
main-color = #333333
background-color = #f4f4f4
border-color = rgb(104, 163, 179);

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

placeholder() 
	color: #fff
	font-size: .8em;
	font-weight:normal;
	font-style:italic
	padding-top: 5px;

input:hover
	background-color: rgba(123, 214, 96, 0.5)

::-webkit-input-placeholder { /* WebKit browsers */
    placeholder() 
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  	placeholder() 
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	placeholder()
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	placeholder()
}

#game-wrapper {
    height: 1024px;
    width: 768px;
    margin: 0px;
	border: 1px solid rgba(104, 163, 179, 0.541176);
    border-radius 10px
   	position: relative;
	background: url("../img/bg.jpg");
	background-repeat:no-repeat;
	background-position: bottom left;
    background-attachment: scroll;
    background-size: auto;
	float:left;
	overflow:hidden
}

#sidebar {
    float: right;
    height: 1024px;
    margin: 0px;
    clear: none;
    width: 400px;
    background: rgb(227, 249, 255);
    border: 1px solid rgba(104, 163, 179, 0.541176);
}

#primary-container {
    float: none;
    margin: 40px auto 0;
    clear: none;
    width: 1200px;
    max-width: 1200px;
    min-width: 768px;
    padding: 0px;
}

#content-wrapper {
    float: none;
    height: 786px;
    margin: 80px auto 0;
    clear: none;
    width: 616px;
    position: relative;
    top: 0px;
    left: 0px;
    background-image:url("../img/registerpanel.png");
    background-position: 0% 50px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    padding-top: 0px;
}

.input-field-wrapper {
	float: none;
    height: 110px;
    display: block;
    text-align: left;
    margin: 20px auto 0;
    clear: none;
    width: 80%;
    background-image:url("../img/input-field.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
}


.input-field {
	float: none;
    height: auto;
	padding: 3px 10px;
	font-size: 1.2em;
    display: block;
    background-color: rgba(255, 0, 0, 0);
    margin-top: 10px;
    margin-left: 0;
    clear: none;
    margin-right: auto;
    margin-bottom: 0px;
    font-family: aw-conqueror-carved-one;
    color: rgb(255, 255, 255);
	border:1px solid border-color
	width: 95%
}

.form-label {
    float: none;
    font-size: 1.5em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: normal;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    display: block;
    min-height: 0px;
    margin-top: 10px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    margin-bottom: 0px;
    font-style: italic;
    color: rgb(26, 119, 57);
    text-shadow: rgb(255, 255, 255) 0px 0px 1px;
    font-family: aw-conqueror-carved-one;
    text-decoration: none;
}

.call-action-txt {
    float: none;
    font-size: 2em;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: normal;
    margin: 20px auto;
	padding:5px;
    clear: none;
    font-style: italic;
    color: rgb(26, 119, 57);
    text-shadow: rgb(255, 255, 255) 1px 1px 3px;
    font-family: aw-conqueror-carved-one;
    text-decoration: none;
}
		
button.btn {
	height: 80px;
    margin: 0px;
    clear: none;
	background-position: 100% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: rgba(229, 233, 232, 0);
    color: rgb(255, 255, 255);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    font-family: aw-conqueror-carved-one;
    font-style: normal;
    font-weight: 900;
    box-shadow: none;
    display: block;
	overflow:hidden;
}

button.register-btn {
    float: right;
    font-size 2em;
    background-image:url("../img/button.png");
	width: 40%;
	background-size: 100% 200%;

}

button.facebook-btn {
    float:left;
	font-size 1.5em;
    background-image:url("../img/share-at-facebook-button.png");
	background-size: 100% 215%;
	width: 60%;
}

.btn:hover {
	cursor:pointer
	background-position: left 100%;
}

button.facebook-btn:hover {
	background-position: left 92%;
}


.button-wrapper {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 20px;
    clear: none;
    width: 80%;
    margin-right: auto;
}


.logged-in-wrapper {
    float: none;
    height: auto;
    margin: 20px auto;
    clear: none;
    width: 80%;
	
	.logged-in-link {
		float: right;
		font-size: 1.5em;
		margin: 25px 10px 0;
		color: rgb(26, 119, 57);
		font-family: aw-conqueror-carved-one;
		font-style: normal;
		font-weight: 700;
		text-align: right;
		display: block;
		text-decoration:none;
		font-style:italic;
		text-shadow: rgb(255, 255, 255) 1px 1px 3px;
		&:hover {
			color:rgb(0, 0, 0)
		}
		span {
			display:block;
			color:#5fa01b;
			&:hover {
				color:rgb(124, 2, 2)
			}
		}
	}
}

.ribbon-wrapper {
    height: 110px;
    margin: 3px auto;
    width: 70%;
    background-image:url("../img/ribon.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
	p {	
		font-size: 2.5em;
		text-align: center;
		font-weight: 900;
		line-height: normal;
		margin-left: auto;
		font-style: italic;
		color: rgb(255, 255, 255);
		text-shadow: rgb(26, 119, 57) 1px 1px 3px;
		font-family: aw-conqueror-carved-one;
		text-decoration: none;
		margin-right: auto;
	}
}

