/*
 * Import Nib
 */
@import 'nib'

/*
 * Nib Reset File
 */
global-reset()

/*
 * Set Variables
 */
main-color = #333333
background-color = #f4f4f4
border-color = rgba(104, 163, 179, 0.541176);

.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#game-wrapper {
    height: 1024px;
    width: 768px;
    margin: 0px;
	border: 1px solid rgba(104, 163, 179, 0.541176);
    border-radius: 10px;
   	position: relative;
    background-image:url("../img/bg.jpg");
    background-position: 0% 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
	float:left;
}

#sidebar {
    float: right;
    height: 1024px;
    margin: 0px;
    clear: none;
    width: 30%;
    background: rgb(227, 249, 255);
    border: 1px solid rgba(104, 163, 179, 0.541176);
}

#main-wrapper {
    float: none;
    margin: 40px auto 0;
    clear: none;
    width: 1200px;
    max-width: 1200px;
    min-width: 768px;
    padding: 0px;
}

#content-wrapper {
    float: none;
    height: 786px;
    margin-left: auto;
    margin-top: 80px;
    clear: none;
    width: 616px;
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
    background-image:url("../img/registerpanel.png");
    background-position: 0% 50px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    padding-top: 0px;
    margin-bottom: 0px;
}

#fulname-wrapper {
    float: none;
    height: 108.375px;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-top: 25px;
    clear: none;
    width: 79.999493%;
    min-height: auto;
    background-image:url("../img/input-field.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    margin-right: auto;
}

#fullname-input {
    float: none;
    height: 36px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 1.5em;
    display: block;
    width: 89.998722%;
    background-color: rgba(255, 0, 0, 0);
    margin-top: 10px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    margin-bottom: 0px;
    font-family: aw-conqueror-carved-one;
    color: rgb(255, 255, 255);
}

#fulname-label {
    float: none;
    font-size: 1.5em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: normal;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    display: block;
    min-height: 0px;
    margin-top: 10px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    margin-bottom: 0px;
    font-style: italic;
    color: rgb(26, 119, 57);
    text-shadow: rgb(255, 255, 255) 0px 0px 1px;
    font-family: aw-conqueror-carved-one;
    text-decoration: none;
}

#email-wrapper {
    float: none;
    height: 108.375px;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-top: 25px;
    clear: none;
    width: 79.999493%;
    min-height: auto;
    background-image:url("../img/input-field.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

#email-label {
    float: none;
    font-size: 1.5em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: normal;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    display: block;
    min-height: 0px;
    margin-top: 10px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    margin-bottom: 10px;
    font-style: italic;
    color: rgb(26, 119, 57);
    text-shadow: rgb(255, 255, 255) 0px 0px 1px;
    font-family: aw-conqueror-carved-one;
    text-decoration: none;
}

#email-input {
    float: none;
    height: 36px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 1.5em;
    display: block;
    width: 89.998722%;
    margin-top: 10px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    margin-bottom: 0px;
    font-family: aw-conqueror-carved-one;
    background-color: rgba(255, 0, 0, 0);
    color: rgb(255, 255, 255);
}

#password-wrapper {
    float: none;
    height: 108.375px;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-top: 25px;
    clear: none;
    width: 79.999493%;
    min-height: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background-image:url("../img/input-field.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
}

#password-label {
    float: none;
    font-size: 1.5em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: normal;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    display: block;
    min-height: 0px;
    margin-top: 10px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    margin-bottom: 0px;
    font-style: italic;
    color: rgb(26, 119, 57);
    text-shadow: rgb(255, 255, 255) 0px 0px 1px;
    font-family: aw-conqueror-carved-one;
    text-decoration: none;
}

#password-input {
    float: none;
    height: 36px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 1.5em;
    display: block;
    width: 89.998722%;
    margin-top: 10px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    margin-bottom: 0px;
    font-family: aw-conqueror-carved-one;
    background-color: rgba(255, 0, 0, 0);
    color: rgb(255, 255, 255);
}

#call-action-txt {
    float: none;
    font-size: 2em;
    width: 75%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: normal;
    margin-left: auto;
    margin-top: 30px;
	padding:5px;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    font-style: italic;
    color: rgb(26, 119, 57);
    text-shadow: rgb(255, 255, 255) 1px 1px 3px;
    font-family: aw-conqueror-carved-one;
    text-decoration: none;
}

#register-btn {
    float: right;
    height: 78px;
    font-size: 2em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 50%;
    background-image:url("../img/Highlight.png");
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    background-color: rgba(229, 233, 232, 0);
    color: rgb(255, 255, 255);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    font-family: aw-conqueror-carved-one;
    font-style: normal;
    font-weight: 900;
    box-shadow: none;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#facebook-btn {
    float: left;
    height: 78px;
    font-size: 1.4em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 50%;
    color: rgb(255, 255, 255);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    font-family: aw-conqueror-carved-one;
    font-style: normal;
    font-weight: 900;
    box-shadow: none;
    display: block;
    background-color: rgba(229, 233, 232, 0);
    margin-right: 0px;
    margin-bottom: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-image:url("../img/Facebook.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
}

#button-wrapper {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 25px;
    clear: none;
    width: 79.999493%;
    margin-right: auto;
}

#logged-in-btn {
    float: right;
    height: 63px;
    font-size: 1.5em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    background-color: rgba(229, 233, 232, 0);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    box-shadow: none;
    color: rgb(26, 119, 57);
    font-family: aw-conqueror-carved-one;
    font-style: normal;
    font-weight: 700;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: right;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
}

#logged-in-wrapper {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 25px;
    clear: none;
    width: 80%;
    margin-right: auto;
}

#ribbon-wrapper {
    float: none;
    height: 110px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 70%;
    background-image:url("../img/ribon.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    margin-right: auto;
}

#text {
    float: none;
    font-size: 2.5em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: normal;
    margin-left: auto;
    margin-top: 5px;
    clear: none;
    min-height: 0px;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-shadow: rgb(26, 119, 57) 1px 1px 3px;
    font-family: aw-conqueror-carved-one;
    text-decoration: none;
    margin-right: auto;
}

@media only screen and (max-width: 1250px) {
    #main-wrapper {
        width: 100%;
        min-width: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    #game-wrapper {
        clear: none;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    #sidebar {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
        margin-top: 30px;
        width: 768px;
    }

    #content-wrapper {
        background-image:url("../img/registerpanel.png");
        background-attachment: scroll;
        background-size: contain;
        background-position: 0% 50px;
        background-repeat: no-repeat no-repeat;
    }
}
